.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background: white;

  .container {
    width: 1400px;
    position: relative;
  }

  // Swiper navigation buttons
  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #1dbf73;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(29, 191, 115, 0.2);
    transition: all 0.3s ease;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      background: #18a765;
      box-shadow: 0 4px 12px rgba(29, 191, 115, 0.3);
    }
  }

  .swiper-button-prev {
    left: -60px;
  }
  .swiper-button-next {
    right: -60px;
  }

  // Swiper slide
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 344px; // match your card height
  }
}