.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    width: 1400px;
    position: relative;
  }

  // Swiper navigation buttons
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background: #00df7028;
    color: #013914;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(49, 255, 111, 0.453);
    transition: background 0.2s;
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: -25px;
  }
  .swiper-button-next {
    right: -25px;
  }

  // Swiper slide
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 344px; // match your card height
  }
}