.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background: transparent;

  .container {
    width: 1400px;
    position: relative;
  }

  // Swiper navigation buttons
  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--accent-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px var(--accent-color); // Neon glow
    transition: all 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:hover {
      background: var(--accent-hover);
      box-shadow: 0 0 25px var(--accent-hover);
      transform: translateY(-50%) scale(1.1);
    }
  }

  .swiper-button-prev {
    left: -60px;
  }

  .swiper-button-next {
    right: -60px;
  }

  // Swiper slide
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 344px; // match your card height
  }
}